@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-primary: #042121;
  --color-primary-navbar_gradiant: linear-gradient(180deg, rgb(81, 44, 150) 0%, #a088ca 100%);
  --color-primary_hover: #240c50;
  --color-navbar: #dbcaf8;
  --color-navbar_gradiant: linear-gradient(180deg, rgba(160, 136, 202, 1) 0%, rgba(203, 184, 235, 1) 100%);
  --color-secundary: #A0CBCB;
  --color-secundary_opacity_medium: #EAE2F8d3;

  --color-series_card: rgb(200, 178, 236);
  --color-series_card_gradiant: linear-gradient(0deg, rgba(202, 195, 213, 1) 0%, rgba(191, 138, 251, 1) 100%);

  --color-footer_gradiant: linear-gradient(180deg, rgba(170, 149, 210, 1) 0%, rgba(89, 0, 255, 1) 100%);
  --color-white: #FFFFFF;

  --color-yellow-pokemon: #fecc01;
  --color-blue-pokemon: #1454bb;
  --color-links: #4A90E2;
  --color-red: #FF5454;
  --color-gold: #F2C94C;
  --color-main_text: #4F4F4F;
  --color-secundary_text: #828282;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.background-image {
  background-image: url('../public/img/hero.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #cff0f0;
}